#    Pandas Excersise

In [1]:
import pandas as pd

# empty dataframe

In [2]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
data=[1,2,2,2,3,3,4,4]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  2
3  2
4  3
5  3
6  4
7  4

# Passing a Dict

In [70]:
data=[['Keadr',35,'Engineer'],['Rohan',45,'BA'],['Prathamesh',65,"Engineer"],['Abhijeet',64,'Civil Engineer'],
      ['Amit',64,'Computer Engineer']]
df=pd.DataFrame(data,columns=["Name","Ages","Education"])
print(df)

         Name  Ages          Education
0       Keadr    35           Engineer
1       Rohan    45                 BA
2  Prathamesh    65           Engineer
3    Abhijeet    64     Civil Engineer
4        Amit    64  Computer Engineer

In [5]:
df['Name'][0]='Kedar'
print(df)

         Name  Ages          Education
0       Kedar    35           Engineer
1       Rohan    45                 BA
2  Prathamesh    65           Engineer
3    Abhijeet    64     Civil Engineer
4        Amit    64  Computer Engineer

C:\Users\KEDAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
data=[['Kedar',35,'Engineer'],['Rohan',45,'BA'],['Prathamesh',65,"Engineer"]]
df=pd.DataFrame(data,columns=["Name","Ages","Education"],dtype=float)
print(df)

         Name  Ages Education
0       Kedar  35.0  Engineer
1       Rohan  45.0        BA
2  Prathamesh  65.0  Engineer

# Create a DataFrame from Dict of ndarrays / Lists

In [7]:
D1={"Name":['Kedar','Vaibhav','Saurabh','Sushant','Shubham','Omkar'],"Ages":[25,23,25,21,26,25]}
df=pd.DataFrame(D1)
print(df)

      Name  Ages
0    Kedar    25
1  Vaibhav    23
2  Saurabh    25
3  Sushant    21
4  Shubham    26
5    Omkar    25

In [8]:
D2={'Brother':['Abhijeet','Amit','Rohan','Prathamesh',' '],'Sister':['Anagha K','Aarti D','Amruta K','Trupti C','Radha P']}
df=pd.DataFrame(D2)
print(df)

      Brother    Sister
0    Abhijeet  Anagha K
1        Amit   Aarti D
2       Rohan  Amruta K
3  Prathamesh  Trupti C
4               Radha P

#   create an indexed DataFrame using arrays.

In [9]:
BD={'Name':['Kedar','Vaibhav','Saurabh','Omkar'],'Ages':[32,36,25,23]}
Data=df=pd.DataFrame(BD,index=['Friends','Friends','Friends','Friends'])
print(Data)

            Name  Ages
Friends    Kedar    32
Friends  Vaibhav    36
Friends  Saurabh    25
Friends    Omkar    23

In [10]:
BD={'Name':['Kedar','Vaibhav','Saurabh','Omkar'],'Ages':[32,36,25,23]}
Data=df=pd.DataFrame(BD,columns=["Education"],index=['Friends','Friends','Friends','Friends'])
print(Data)

        Education
Friends       NaN
Friends       NaN
Friends       NaN
Friends       NaN

In [11]:
BD={'Name':['Kedar','Vaibhav','Saurabh','Omkar'],'Ages':[32,36,25,23],'Education':['']}
Data=df=pd.DataFrame(BD,index=['Friends','Friends','Friends','Friends'])
print(Data)

            Name  Ages Education
Friends    Kedar    32
Friends  Vaibhav    36
Friends  Saurabh    25
Friends    Omkar    23

# Create a DataFrame from List of Dicts

In [12]:
data=[{'a': 1, 'b': 2},{'a': 2, 'b': 3, 'c': 10}]
data=df=pd.DataFrame(data,index=['number','numbers'])
print(data)

         a  b     c
number   1  2   NaN
numbers  2  3  10.0


# To Declare the Dictionary

In [13]:
d1={'key': 43},{'key':21}, {'key': 23} 
print(d1)

({'key': 43}, {'key': 21}, {'key': 23})

#  To Declare the Index in the list from Dict

In [14]:
data=[{'a': 1, 'b': 2},{'a': 2, 'b': 3, 'c': 10}]
data=df=pd.DataFrame(data,index=['number','numbers'])
print(data)

         a  b     c
number   1  2   NaN
numbers  2  3  10.0

#  create a DataFrame with a list of dictionaries

In [15]:
data=[{'a': 1, 'b': 2},{'a': 2, 'b': 3, 'c': 10}]
#With two column indices, values same as dictionary key
df=pd.DataFrame(data,index=['First','Second'],columns=['a','b','c'])
print(df)
#With two column indices with one index with other name
df1=pd.DataFrame(data,index=['First','Second'],columns=['a','b1','c1'])
print(df1)

        a  b     c
First   1  2   NaN
Second  2  3  10.0
        a  b1  c1
First   1 NaN NaN
Second  2 NaN NaN

In [17]:
data=[{'First': 12,'second':56,'Three':89},{'a':'one','b':'two'}]

df=pd.DataFrame(data,index=['First','Second'],columns=['First','second'])
print(df)

df2=pd.DataFrame(data,index=['First','Second'],columns=['First','second','Three'])
print(df2)

        First  second
First    12.0    56.0
Second    NaN     NaN
        First  second  Three
First    12.0    56.0   89.0
Second    NaN     NaN    NaN

# DataFrame from Dict of Series

In [19]:
data={'one':pd.Series([1,2,3,],index=['a', 'b', 'c']),
    'two':pd.Series([1, 2, 3, 4],index=['a','b','c','d'])}  
data=df=pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [47]:
DB={'Fruits':pd.Series(['Mango','Banana','Apple'],index=['a','b','c']),'Taste':pd.Series(['Sweet','Sweet','Sweet','Sweet'],index=['a','b','c','d'])}                                                                       
df=pd.DataFrame(DB)
print(df)

   Fruits  Taste
a   Mango  Sweet
b  Banana  Sweet
c   Apple  Sweet
d     NaN  Sweet

# Column Selection

In [57]:
data1={'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1, 2, 3, 4],index=['a','b','c','d'])}

df=pd.DataFrame(data1)
#print (df ['one']) # This will Print the First Column
print(df['two']['b']) # This will print only the second index from the "Two" column

2

# Column Addition

In [66]:
data1={'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1, 2, 3, 4],index=['a','b','c','d'])}

df=pd.DataFrame(data1)
print(df)

print("Adding another column in the series of dataset")
df['three']=pd.Series([10,12,23,45],index=['a','b','c','d'])
print(df)

print("Adding another column in the series of dataset")
df['four']=pd.Series([20,30,40,50],index=['a','b','c','d'])
print(df)

print("Performing the addition of Column")

df['Five']=df['one']+df['four']
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
Adding another column in the series of dataset
   one  two  three
a  1.0    1     10
b  2.0    2     12
c  3.0    3     23
d  NaN    4     45
Adding another column in the series of dataset
   one  two  three  four
a  1.0    1     10    20
b  2.0    2     12    30
c  3.0    3     23    40
d  NaN    4     45    50
Performing the addition of Column
   one  two  three  four  Five
a  1.0    1     10    20  21.0
b  2.0    2     12    30  32.0
c  3.0    3     23    40  43.0
d  NaN    4     45    50   NaN

# Column Deletion

In [75]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df=pd.DataFrame(data)
print("DataFrame is")
print(df)

print("Deletion of ")
del df['one']
print(df)

print("Pop Function in DataScience which work as Deletion")
df.pop['two']
print(df)

DataFrame is
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deletion of
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Pop Function in DataScience which work as Deletion

TypeError: 'method' object is not subscriptable

In [77]:
print("Pop Function in DataScience which work as Deletion")
df.pop('two')
print(df)

Pop Function in DataScience which work as Deletion
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [85]:
data={'Fruits':pd.Series(['Mangoes','Apple','Banana','Grapes']),'Prices':pd.Series([32,56,68,96]),'Flavours':pd.Series(['Sweet','Sweet','Sweet','Sweet'])}
df=pd.DataFrame(data)

print(df)
del df['Flavours']
print(df)

    Fruits  Prices Flavours
0  Mangoes      32    Sweet
1    Apple      56    Sweet
2   Banana      68    Sweet
3   Grapes      96    Sweet
    Fruits  Prices
0  Mangoes      32
1    Apple      56
2   Banana      68
3   Grapes      96

#  Row Selection, Addition, and Deletion

# 1 Selection by Label 
 passing row label to a loc function

In [91]:
Data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(Data)
print(df)
print(df.loc['a'])
print(df.loc['b'])

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
one    1
two    1
Name: a, dtype: int64
one    2
two    2
Name: b, dtype: int64

#   2 Selection by integer location (iloc) will give you integer value

In [97]:
Data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(Data)
print(df)
print(df.iloc[2])
print(df.iloc[1])

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
one    3
two    3
Name: c, dtype: int64
one    2
two    2
Name: b, dtype: int64

# Slice Rows using Slice notation can select multiplies row

In [100]:
Data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(Data)
print(df)
print(df[2:4])
print(df[1:2])
print

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
   one  two
c    3    3
d    4    4
   one  two
b    2    2

In [101]:
Data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(Data)
print(df)
print(df[1:2])

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
   one  two
b    2    2

#             # Addition of Rows using append Function

In [102]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])

print(df)

   a  b
0  1  2
1  3  4

In [109]:

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df=df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

# Here is an end of Dataframe from Pandas Package