In [12]:
#print('kedar')

In [13]:

# d=['k','e','d']+['a','r']
#print(d)

In [1]:
#Data frame in DS
#import pandas as pd
#d={'col1':[1,2,3,4], 'col2':[5,6,7,8], 'col3':[9,1,2,3]}
#df=pd.DataFrame(data=d)
#print(df)

SyntaxError: invalid syntax (<ipython-input-1-0588322d9d13>, line 5)

In [21]:
count_column=df.shape[1]
print(count_column)

3

In [28]:
count_row=df.shape[0]
print(count_row)

4

In [2]:
a={'1':[1,2,3,4],'2':[5,6,7,8],'3':[9,1,2,3]}
df=pd.DataFrame(data=a)
print(df)

NameError: name 'pd' is not defined

In [37]:
df.head()

   1  2  3
0  1  5  9
1  2  6  1
2  3  7  2
3  4  8  3

In [38]:
df.tail()

   1  2  3
0  1  5  9
1  2  6  1
2  3  7  2
3  4  8  3

In [41]:
df.iloc[0:2,1:3]

   2  3
0  5  9
1  6  1